@page
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> T
@model PrivacyModel
@{
    ViewData["Title"] = T["Privacy_PageTitle"];
}
<h1>@T["Privacy_PageTitle"]</h1>

<p>@T["Privacy_PageBody"]</p>
